
h1 + ul
{
    list-style-type: disc;
}

h1 + ul > li:nth-child(3)
{
    color : red;
}

h1 + ul > li:nth-child(4)
{
    color : red;
}

h2 + ol > li:nth-child(2)
{
    font-size: 24px;
}

h2 + ol > li:nth-child(4)
{
    font-size: 24px;
}

div
{
    background-color: red;
    height: 100px;
    width: 100px;
}

p:nth-child(1)
{ 
    color: black;
    font-style: italic;
}

h3 + div
{

    color: white;

}


button
{

    background-color: lightgrey;
    color: black;
    padding: 10px 20px;
}

button:hover
{
    background-color: blue;
}

button:active
{
   
   border: 2px solid black;
   border-radius: 0px;
   height: 150px;
   width: 200px;

}